#container{
    height: 200px;
    width:100%;
    background-image: linear-gradient(45deg , #5ddaa275, transparent);
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

select{
    width:200px;
    height:25px;
}

#container2{
    height:550px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

#image-container{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

#u{
    height:100%;
    width:100%;
}